<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>待办事项</title>

</head>
<body>
<h1>这是一个html主页</h1>
<ul>
    {% if todo_list%}
    {% for i in todo_list %}

    <li>{{i[0]}}
        <button onclick="my_delete('{{ i[1] }}')"> 删除</button>
        <!--js和jianja解析-->
    </li>


    {% else%}
    <h1>hahahaahha</h1>


    {% endfor%}
    {% endif%}
</ul>

<script>
        function my_delete(index){
            console.log('hello world',index)
            <!--alert('ds')-->
        }


</script>

</body>

</html>