<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>待办事项</title>

</head>
<body>
<h1>这是一个html主页</h1>
<ul>
    {% if todo_list%}

    <button>新增代办事项</button>
    {% for i in todo_list %}

    <li>{{i[0]}}
        <button onclick="my_delete('{{ i[0] }}')"> 删除</button>
        <!--js和jianja解析-->
    </li>

    {% else%}
    <h1>hahahaahha</h1>


    {% endfor%}
    {% endif%}
</ul>

<script>
        <!--function my_delete(index){-->
            <!--console.log('hello world',index)-->
            <!--&lt;!&ndash;alert('ds')&ndash;&gt;-->
        <!--}-->



            function my_delete(index){
            console.log('hello world',index)
            fetch('http://127.0.0.1:5000/todo/'+index,{method:"DELETE"})
                .then(
                    function(response){
                        console.log(response.json());
                        return;
                    }
               )
               <!--.then(-->
                    <!--function(response){-->
                        <!--window.location.reload()-->
                    <!--}-->

               <!--)-->

        }





</script>

</body>

</html>