<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>待办事项</title>

</head>
<body>
<h1>这是一个html主页</h1>
<ul>
    {% if todo_list%}

    <button onclick="showDialog()">新增代办事项</button>
    <!--<textarea name="" id="" cols="30" rows="10"></textarea>-->
    <dialog id="newTodoItem">

        <textarea id="todoText">hello world</textarea>
        <button onclick="addTodo()"> 确定</button>
        <button onclick="hideDialog()"> 取消</button>
    </dialog>


{% for i in todo_list %}


    <li>{{i[1]}}
        <button onclick="my_delete('{{ i[0] }}')"> 删除</button>
        <!--js和jianja解析-->
    </li>

    {% else%}
    <h1>hahahaahha</h1>


    {% endfor%}
    {% endif%}
</ul>

<script>
        <!--function my_delete(index){-->
            <!--console.log('hello world',index)-->
            <!--&lt;!&ndash;alert('ds')&ndash;&gt;-->
        <!--}-->
        function showDialog(){
            document.getElementById('newTodoItem').showModal();
        }

        function hideDialog(){
            document.getElementById('newTodoItem').close();


        }
        function addTodo(){
            var text = document.getElementById('todoText').value;
            <!--发送请求-->
            fetch('http://127.0.0.1:5000/add',{
                headers:{'Content-Type':'application/json'},
                method:"POST",
                body: JSON.stringify({text:text})
            }
            )
            document.getElementById('newTodoItem').close();
            window.location.reload()


        }


        function my_delete(index){
            console.log('hello world',index)
            fetch('http://127.0.0.1:5000/todo/'+index,{method:"DELETE"})
                .then(
                    function(response){
                        console.log(response.json());
                        return;
                    }
               )
               .then(
                    function(response){
                        window.location.reload()
                    }

               )

        }





</script>

</body>

</html>